<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>platfrom/image/face/expression10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,306},{71,79}}</string>
				<key>offset</key>
				<string>{6,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression10002.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,61},{65,73}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression10003.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,957},{68,61}}</string>
				<key>offset</key>
				<string>{-6,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression10004.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,441},{63,72}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,288},{69,73}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,546},{69,74}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11001.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,82},{14,22}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11002.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,964},{56,89}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11003.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,971},{50,81}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11004.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,603},{50,81}}</string>
				<key>offset</key>
				<string>{2,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11005.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,517},{50,81}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11006.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,430},{50,81}}</string>
				<key>offset</key>
				<string>{2,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11007.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,842},{50,81}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11008.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,927},{50,81}}</string>
				<key>offset</key>
				<string>{2,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11009.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,842},{50,81}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11010.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,757},{50,81}}</string>
				<key>offset</key>
				<string>{2,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11011.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,927},{50,81}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression11012.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,842},{50,81}}</string>
				<key>offset</key>
				<string>{2,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression12001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,700},{99,70}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression12002.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,788},{93,70}}</string>
				<key>offset</key>
				<string>{3,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression12003.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,348},{87,68}}</string>
				<key>offset</key>
				<string>{6,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression12004.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,272},{94,67}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression13001.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2},{55,89}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression13002.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,2},{55,87}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression13003.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,2},{55,91}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression13004.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,2},{55,97}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14001.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,725},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14002.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,639},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14003.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,439},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14004.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,348},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14005.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,251},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14006.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,148},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14007.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,67},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14008.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,519},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14009.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,428},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14010.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,331},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14011.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,228},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14012.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,147},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14013.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,61},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression14014.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,805},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression15001.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,643},{75,78}}</string>
				<key>offset</key>
				<string>{5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression15002.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,132},{75,74}}</string>
				<key>offset</key>
				<string>{5,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression15003.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,165},{75,82}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression15004.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,557},{75,78}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression15005.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,719},{75,77}}</string>
				<key>offset</key>
				<string>{5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression16001.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,2},{69,89}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression16002.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,467},{69,86}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression16003.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,75},{69,89}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression16004.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,833},{69,86}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression17001.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,177},{76,82}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression17002.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,80},{76,81}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression17003.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,490},{76,84}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression18001.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,2},{61,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression18002.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,768},{61,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression18003.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,665},{61,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression18004.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,578},{61,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression19001.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,759},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression19002.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,581},{73,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression20001.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,376},{73,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression20002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,604},{77,92}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression2001.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,903},{68,68}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression2002.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,915},{68,71}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression2003.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,815},{68,68}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression2004.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,700},{68,68}}</string>
				<key>offset</key>
				<string>{4,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression2005.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,615},{68,68}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression2006.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,828},{68,71}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression2007.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,531},{68,68}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression2008.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,207},{68,69}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression21001.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,61},{67,83}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression21002.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,213},{67,83}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression22001.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,194},{74,91}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression22002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,891},{74,90}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression22003.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,82},{74,91}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression22004.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,891},{74,90}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression22005.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,2},{74,91}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression22006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,299},{85,100}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression22007.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,299},{96,84}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression23001.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,501},{74,76}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression23002.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,659},{68,76}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression23003.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,599},{74,77}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression23004.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,140},{69,81}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression23005.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,387},{73,77}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression24001.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,300},{73,73}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression24002.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,211},{73,73}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression24003.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,131},{73,73}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression24004.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,468},{74,73}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression24005.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,838},{73,73}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression24006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{92,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression24007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,101},{92,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression24008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,200},{92,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression24009.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,751},{73,73}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression25001.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,360},{66,66}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression25002.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,280},{66,66}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression25003.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,887},{66,66}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression25004.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,772},{66,66}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression26001.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,399},{87,78}}</string>
				<key>offset</key>
				<string>{-7,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression26002.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,263},{81,76}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression26003.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,285},{87,78}}</string>
				<key>offset</key>
				<string>{-7,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression26004.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,2},{95,76}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression26005.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,100},{99,78}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression26006.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,505},{93,76}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression26007.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,203},{99,78}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression26008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,505},{95,76}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression27001.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,948},{74,87}}</string>
				<key>offset</key>
				<string>{9,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression27002.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,2},{94,84}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression27003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,403},{98,86}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression3001.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,308},{75,75}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression3002.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,227},{75,75}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression3003.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,141},{75,75}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression3004.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,61},{75,75}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression3005.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,885},{75,75}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression3006.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,800},{75,75}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression3007.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,879},{75,75}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression3008.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,680},{75,75}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression3009.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,591},{75,75}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression4001.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,220},{71,79}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression4002.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,381},{71,76}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression5001.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,461},{69,74}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression5002.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,377},{69,74}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression6001.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,739},{67,72}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression6002.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,624},{67,72}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression6003.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,670},{72,77}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression6004.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,508},{72,79}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression6005.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,285},{67,71}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression6006.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,539},{67,72}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression6007.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,455},{67,72}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression6008.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,365},{67,72}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression7001.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,208},{69,73}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression7002.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,130},{69,73}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression7003.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,100},{90,83}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression7004.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,399},{88,80}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression7005.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,923},{79,75}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression7006.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,687},{66,66}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression8001.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,885},{79,82}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression8002.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,690},{79,82}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression8003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,803},{81,84}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression8004.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,776},{79,82}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression8005.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,700},{81,84}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression8006.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,862},{79,82}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression8007.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,602},{81,84}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression8008.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,579},{79,82}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression8009.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,491},{81,84}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression9001.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,958},{61,83}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression9002.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,61},{66,80}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>platfrom/image/face/expression9003.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,411},{66,86}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>face_ui.png</string>
			<key>realTextureFileName</key>
			<string>face_ui.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>